* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #35424A;
    font-size: 1.5rem;
    padding: 0.75rem;
    color: white;
}

nav {
    border-bottom: 3px solid rebeccapurple;
}

.bars {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
}

.bars span {
    color: rebeccapurple;
}

.fa-user {
    color: rebeccapurple;
}

.fa-home,
.fa-servicestack {
    color: white;
}

.fab:hover,
.fas:hover {
    color: #bb25e9;
}

#miBar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #35424A;
    padding: 1rem;
    color: white;
    align-items: center;
    
}

.miBar-right {
    letter-spacing: 15px;
    width: 30%;    
}

form{
    display: flex;
    justify-content: space-between;
}

.subbutton {
    color: white;
    background-color: #E8491D;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: 8px solid #E8491D;
    transition: all ease-in-out 200ms;
}

.subbutton:hover {
    outline: 3px solid white;
    outline-offset: 4px;
}

.subinfo {
    width: 70%;
    height: 2rem;
}

#footBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #35424A;
    color: white;
    padding: 1.25rem;
}

#main{
    display: flex;
    background-color: rgba(224, 217, 217, 0.877);
    height: 40rem;
}

#sidebar{
    flex-basis: 50%;
    order: 1;
    color: white;
    line-height: 20px;  
}

.sidebar-box{
    background-color: #35424A;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

#content{
    flex-basis: 50%;
    padding: 1rem;
    margin: 2rem;
}

.content-box1{
    line-height: 20px;
    
}
.content-box2{
    background-color: #35424A;
    margin-top: 1rem;
    line-height: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

@media screen and (max-width:800px) {
    .nav {
        justify-content: space-around;
        font-size: 1.2rem;
    }

    #miBar {
        justify-content: center;
        flex-direction: column;
        font-size: 10px;
    }

    #miBar-Left {
        margin-bottom: 10px;
    }

    .miBar-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    form {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        width: 50%;
    }

    .subinfo {
        width: 90%;
        height: 2rem;
    }

    #main{
        flex-direction: column;
        overflow: auto;
    }

    #sidebar{
        order: -1;
    }
}

@media screen and (max-width:600px) {
    .nav {
        flex-direction: column;
    }

    .bars {
        display: none;
    }

    .nav li {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav li:last-child {
        border-bottom: none;
    }

    .miBar-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }  

    form{
        width: 80%;
    }

    .subinfo {
        width: 80%;
    }
    
    
}


